#my_sidebar {
  overflow: inherit;
}

html,
body,
.main-content {
  height: 100%;
}

#tab-shot {
  background: #70390d !important;
}

#img {
  margin: auto !important;
}

.navbar-brand-img {
  height: 8em;
  max-height: none !important;
}

.footer {
  background: linear-gradient(90deg, #172b4d, #1a3a82);
  color: #fff;
  padding: 20px 0;
  margin-top: 30px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  width: 95%;
  position: absolute;
  bottom: 1em;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-menu a {
  color: #8898aa;
  margin: 0 15px;
  transition: color 0.3s ease;
  text-decoration: none;
}

.footer-menu a:hover {
  color: #fff;
  text-decoration: none;
}

.footer-menu .icon {
  margin-right: 5px;
}

.footer-copyright {
  font-weight: 300;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
  }
  .footer-menu {
    margin-top: 15px;
  }
}

.footer .nav .nav-item .nav-link,
.font-weight-bold {
  font-size: 1.5em;
  color: #ffffff !important;
  font-weight: bold;
}
